.edit-subgroups {
  &__table-bottom {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subject-name {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
